<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:replace="~{/../fragments/head :: head('Registrar em Oficina')}"></th:block>

<body class="d-flex flex-column min-vh-100">
    <th:block th:replace="~{/../fragments/head :: header()}"></th:block>
    <div class="container flex-grow-1">
        <div class="col-md-12 mb-5">
            <h2 class="mb-4 fw-normal" th:text="${'Registrar ' + usuario.nome}"></h2>
            <p class="fs-6">Utilize o campo de filtro abaixo para buscar por uma oficina através do nome e clique no botão para registrar o usuário nas oficinas desejadas:</p>
        </div>

        <form th:action="@{/registros/listOficinas/{id} (id=${usuario.id})}" method="GET">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" name="nome" th:value="${param.nome}" class="form-control" placeholder="Digite o nome para filtrar">
                        <div class="input-group-append">
                            <button class="btn" type="submit" id="botaoFiltrar" style="border: none;">
                                <img style="width: 30px;" th:src="@{/img/icons/lupa_icon.png}" alt="Ícone de lupa">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-12 mb-2">
            <div th:if="${msgErro}" class="alert alert-danger" th:text="${msgErro}"></div>
            <div th:if="${msgOk}" class="alert alert-success" th:text="${msgOk}"></div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="fw-bold">Nome</th>
                        <th class="fw-bold" style="width: 15%;">Registrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="cursor: pointer;" th:each="oficina : ${oficinas}" th:onclick="'window.location.href=\'/oficinas/detalhes/' + ${oficina.id} + '\''" >
                        <td th:text="${oficina.nome}"></td>
                        <td>
                            <a th:href="@{/registros/registrarUsuario/{idOficina}/{idUsuario}/{flag} (idOficina=${oficina.id}, idUsuario=${usuario.id}, flag='oficina')}" class="btn btn-primary" style="width: 90%;">Registrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer()}"></th:block>
</body>