@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
}

body{
    height: 100%;;
}

.card-form{
    width: 30%;
}

.btn-primary{
    background: #596C2A;
    border: none;
}

.btn-primary:hover{
    background: #3d5122;
}

.btn-secondary{
    background: #805537;
    border: none;
}

.btn-secondary:hover{
    background: #614029;
}

.header{
    background: #B06749;
    height: 10vh;
}

.footer{
    background: #CECFD1;
    height: 10vh;
}

.background-body{
    background: #FAEEEA;
}

.hamburguer-menu{
    border: none;
}

.div-menu{
    background-color: #130a0a;
    color: #ffffff;
}

.menu-usuarios{
    background: #DDFC9C;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.menu-oficinas{
    background: #C7CDF5;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.menu-usuarios:hover{
    background: #bfdf6c;
    transition: 0.3s;
}

.menu-oficinas:hover{
    background: #96A4ED;
    transition: 0.3s;
}

.icons-navegacao{
    width: 45px;
}

.form-control{
    background-color: #F2F2F2;
    border-color: #B7B7B7;
    border-radius: 3px;
    height: 40px;
}

.table-hover tbody tr:hover td{
    background-color: #ecedef;
    transition: 0.3s;
}

.table thead th{
    background-color: #cbcbcb;
}

.table{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
}

input.form-control.inputs-disabled{
    background-color: #F2F2F2;
    color: #979797;
}

.btn-editar{
    background-color: #3658BE;
    color: #ffffff;
}

.btn-editar:hover{
    background-color: #1a378e;
    color: #ffffff;
}

.btn-deletar{
    background-color: #AE1F1F;
    color: #ffffff;
}

.btn-deletar:hover{
    background-color: #800606;
    color: #ffffff;
}

.btn-cancelar{
    background-color: #5D5E65;
    color: #ffffff;
}

.btn-cancelar:hover{
    background-color: #46474c;
    color: #ffffff;
}

.btn-logout{
    width: 100%;
    border: 2px solid #5b3627;
    color: white;
}

.btn-logout:hover{
    color: white;
    background: #5b3627;
}

.nav-item:hover{
    background-color: #5b3627;
}

@media(max-width: 800px){
    .card-form{
        width: 80%;
    }
}

