<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:replace="~{/../fragments/head :: head('Home')}"></th:block>

<body>
    <th:block th:replace="~{/../fragments/head :: header()}"></th:block>
    <div class="container">
        <div class="col-md-12 text-center mb-5">
            <h2 class="mb-4 fw-normal">Seja Bem-Vindo(a) <span class="fw-normal" sec:authentication="principal.name"></span></h2>
            <p class="fs-5">Escolha um dos módulos abaixo para prosseguir:</p>
        </div>

        <div class="row justify-content-center g-4">
            <div class="col-12 col-md-4">
                <a href="">
                    <div class="d-flex align-items-center text-black p-4 justify-content-center menu-usuarios">
                        <img class="icons-navegacao mb-0" th:src="@{/img/icons/usuario_icon.png}" alt="Usuários">
                        <p class="mb-0 ms-3 fs-4">Usuários</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a th:href="oficinas">
                    <div class="d-flex align-items-center text-black p-4 justify-content-center menu-oficinas">
                        <img class="icons-navegacao mb-0" th:src="@{/img/icons/oficina_icon.png}" alt="Oficinas">
                        <p class="mb-0 ms-3 fs-4">Oficinas</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

</body>