<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<th:block th:replace="~{/../fragments/head :: head('Login')}"></th:block>

<body class="background-body">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg card-form">
            <div class="card-body">
                <h3 class="text-center mb-4">Bem-vindo(a)!</h3>
                <p class="text-center mb-4 fs-5">Preencha suas credenciais para realizar o login</p>

                <form method="POST" th:action="@{/login}">
                    <div class="mb-3">
                        <label for="username" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Digite seu e-mail" required />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Digite sua senha" required />
                    </div>

                    <div th:if="${param.error}" class="alert alert-danger">
                        Credenciais inválidas ou conta não aprovada.
                    </div>

                    <div th:if="${param.logout}" class="alert alert-success">
                        Você saiu com sucesso.
                    </div>

                    <div th:if="${msg}" class="alert alert-success" th:text="${msg}"></div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="d-grid gap-1">
                        <button type="submit" class="btn btn-primary mb-2">Entrar</button>
                        <a class="btn btn-secondary" th:href="@{/register}">Registrar novo usuário</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>