<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:replace="~{/../fragments/head :: head(${oficina.nome})}"></th:block>

<body>
    <th:block th:replace="~{/../fragments/head :: header()}"></th:block>
    <div class="container">
        <div class="col-md-12 mb-5">
            <h2 class="mb-4 fw-normal" th:text="${oficina.nome}"></h2>
        </div>

        <div class="d-flex col-md-12 justify-content-start">
            <div class="col-md-7">
                <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Nome:</label>
                    <div class="col-sm-7">
                        <input type="text" th:value="${oficina.nome}" class="form-control inputs-disabled" disabled>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Quantidade de vagas:</label>
                    <div class="col-sm-7">
                        <input type="number" th:value="${oficina.qtdVagas}" class="form-control inputs-disabled"
                            disabled>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Horário:</label>
                    <div class="col-sm-7">
                        <input type="text" th:value="${oficina.horarioInicio + ' às ' + oficina.horarioTermino}"
                            class="form-control inputs-disabled" disabled>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Dia da semana:</label>
                    <div class="col-sm-7">
                        <input type="text" th:value="${oficina.diaSemana}" class="form-control inputs-disabled"
                            disabled>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasAnyAuthority('Admin', 'Funcionario')" class="col-md-5 d-flex flex-column justify-content-start align-items-end gap-4">
                <a th:href="@{/oficinas/edit/{id} (id=${oficina.id})}" class="btn btn-editar w-50">Editar Oficina</a>
                <a data-bs-toggle="modal" data-bs-target="#confirmarExclusaoModal" class="btn btn-deletar w-50">Deletar Oficina</a>
            </div>
            <div sec:authorize="hasAnyAuthority('Admin', 'Funcionario')" class="modal fade" id="confirmarExclusaoModal" tabindex="-1" aria-labelledby="tituloModal"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tituloModal">Confirmar Exclusão</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body" th:text="'Tem certeza que deseja excluir a oficina: ' + ${oficina.nome} + '?'">
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{/oficinas/delete/{id} (id=${oficina.id})}" method="GET">
                                <input type="hidden" name="_method" value="delete" />
                                <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-deletar">Confirmar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>